{
  "openapi": "3.0.1",
  "info": {
    "title": "SumUp REST API",
    "version": "1.0.0",
    "description": "SumUp’s REST API operates with [JSON](https://www.json.org/json-en.html) HTTP requests and responses. The request bodies are sent through resource-oriented URLs and use the standard [HTTP response codes](https://developer.mozilla.org/docs/Web/HTTP/Status).\n\nYou can experiment and work on your integration in a sandbox that doesn't affect your regular data and doesn't process real transactions. To create a sandbox merchant account visit the [dashboard](https://me.sumup.com/settings/developer). To use the sandbox when interacting with SumUp APIs [create an API](https://me.sumup.com/settings/api-keys) key and use it for [authentication](https://developer.sumup.com/api/authentication).\n",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.sumup.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v0.1/merchants/{merchant_code}/payment-methods": {
      "get": {
        "operationId": "GetPaymentMethods",
        "summary": "Get available payment methods",
        "description": "Get payment methods available for the given merchant to use with a checkout.",
        "parameters": [
          {
            "name": "merchant_code",
            "in": "path",
            "description": "The SumUp merchant code.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "MH4H92C7"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "The amount for which the payment methods should be eligible, in major units. Note that currency must also be provided when filtering by amount.",
            "required": false,
            "schema": {
              "type": "number",
              "example": 9.99
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency for which the payment methods should be eligible.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "EUR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available_payment_methods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "The ID of the payment method.",
                            "type": "string",
                            "example": "qr_code_pix"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "description": "Available payment methods",
                    "value": {
                      "available_payment_methods": [
                        {
                          "id": "apple_pay"
                        },
                        {
                          "id": "blik"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailsError"
                },
                "examples": {
                  "Invalid_Parameter": {
                    "description": "One or more of the parameters are invalid.",
                    "value": {
                      "failed_constraints": [
                        {
                          "message": "Currency must also be specified when filtering by amount",
                          "reference": "currency"
                        }
                      ],
                      "status": 400,
                      "title": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payments"
            ]
          }
        ],
        "tags": [
          "Checkouts"
        ],
        "x-codegen": {
          "method_name": "list_available_payment_methods"
        },
        "x-scopes": [
          "payments"
        ]
      }
    },
    "/v0.1/checkouts": {
      "post": {
        "operationId": "CreateCheckout",
        "summary": "Create a checkout",
        "description": "Creates a new payment checkout resource. The unique `checkout_reference` created by this request, is used for further manipulation of the checkout.\n\nFor 3DS checkouts, add the `redirect_url` parameter to your request body schema.\n\nFollow by processing a checkout to charge the provided payment instrument.\n",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutCreateRequest"
              },
              "examples": {
                "Checkout": {
                  "description": "Standard request body for creating a checkout",
                  "value": {
                    "checkout_reference": "f00a8f74-b05d-4605-bd73-2a901bae5802",
                    "amount": 10.1,
                    "currency": "EUR",
                    "merchant_code": "MH4H92C7",
                    "description": "Purchase",
                    "id": "2b79757a-de87-4a2e-90e4-b17c947c730d",
                    "status": "PAID",
                    "date": "2020-02-29T10:56:56+00:00",
                    "merchant_name": "John Doe LTD",
                    "redirect_url": "https://sumup.com"
                  }
                },
                "Checkout3DS": {
                  "description": "Create a 3DS checkout",
                  "value": {
                    "checkout_reference": "f00a8f74-b05d-4605-bd73-2a901bae5802",
                    "amount": 10.1,
                    "currency": "EUR",
                    "merchant_code": "MH4H92C7",
                    "description": "Purchase",
                    "return_url": "http://example.com/",
                    "customer_id": "831ff8d4cd5958ab5670",
                    "redirect_url": "https://mysite.com/completed_purchase"
                  }
                },
                "CheckoutAPM": {
                  "description": "Create an Alternative Payment Method checkout",
                  "value": {
                    "checkout_reference": "f00a8f74-b05d-4605-bd73-2a901bae5802",
                    "amount": 10.1,
                    "currency": "EUR",
                    "merchant_code": "MH4H92C7",
                    "redirect_url": "https://mysite.com/completed_purchase"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                },
                "examples": {
                  "Checkout": {
                    "description": "Standard response body for a successfully created checkout",
                    "value": {
                      "checkout_reference": "8ea25ec3-3293-40e9-a165-6d7f3b3073c5",
                      "amount": 10.1,
                      "currency": "EUR",
                      "merchant_code": "MH4H92C7",
                      "merchant_country": "DE",
                      "description": "My Checkout",
                      "return_url": "http://example.com",
                      "id": "88fcf8de-304d-4820-8f1c-ec880290eb92",
                      "status": "PENDING",
                      "date": "2020-02-29T10:56:56+00:00",
                      "valid_until": "2020-02-29T10:56:56+00:00",
                      "customer_id": "831ff8d4cd5958ab5670",
                      "mandate": {
                        "type": "recurrent",
                        "status": "active",
                        "merchant_code": "MH4H92C7"
                      },
                      "transactions": [
                        {
                          "id": "410fc44a-5956-44e1-b5cc-19c6f8d727a4",
                          "transaction_code": "TEENSK4W2K",
                          "amount": 10.1,
                          "currency": "EUR",
                          "timestamp": "2020-02-29T10:56:56.876Z",
                          "status": "SUCCESSFUL",
                          "payment_type": "ECOM",
                          "installments_count": 1,
                          "merchant_code": "MH4H92C7",
                          "vat_amount": 6,
                          "tip_amount": 3,
                          "entry_mode": "CUSTOMER_ENTRY",
                          "auth_code": "012345",
                          "internal_id": 0
                        }
                      ]
                    }
                  },
                  "Checkout3DS": {
                    "description": "Response body for a successfully created 3DS checkout",
                    "value": {
                      "checkout_reference": "8ea25ec3-3293-40e9-a165-6d7f3b3073c5",
                      "amount": 10.1,
                      "currency": "EUR",
                      "description": "My Checkout",
                      "return_url": "http://example.com",
                      "id": "88fcf8de-304d-4820-8f1c-ec880290eb92",
                      "status": "PENDING",
                      "date": "2020-02-29T10:56:56+00:00",
                      "valid_until": "2020-02-29T10:56:56+00:00",
                      "customer_id": "831ff8d4cd5958ab5670",
                      "redirect_url": "https://mysite.com/completed_purchase",
                      "transactions": [
                        {
                          "id": "410fc44a-5956-44e1-b5cc-19c6f8d727a4",
                          "transaction_code": "TEENSK4W2K",
                          "amount": 10.1,
                          "currency": "EUR",
                          "timestamp": "2020-02-29T10:56:56.876Z",
                          "status": "SUCCESSFUL",
                          "payment_type": "ECOM",
                          "installments_count": 1,
                          "merchant_code": "MH4H92C7",
                          "vat_amount": 6,
                          "tip_amount": 3,
                          "entry_mode": "CUSTOMER_ENTRY",
                          "auth_code": "012345",
                          "internal_id": 0
                        }
                      ]
                    }
                  },
                  "CheckoutAPM": {
                    "description": "Response body for APMs, including Blik, iDeal, ...",
                    "value": {
                      "checkout_reference": "8ea25ec3-3293-40e9-a165-6d7f3b3073c5",
                      "amount": 10.1,
                      "currency": "EUR",
                      "merchant_code": "MH4H92C7",
                      "description": "My Checkout",
                      "return_url": "http://example.com",
                      "id": "88fcf8de-304d-4820-8f1c-ec880290eb92",
                      "status": "PENDING",
                      "date": "2021-06-29T11:08:36.000+00:00",
                      "merchant_name": "My company",
                      "merchant_country": "DE",
                      "redirect_url": "https://sumup.com",
                      "purpose": "CHECKOUT",
                      "transactions": [
                        {
                          "id": "410fc44a-5956-44e1-b5cc-19c6f8d727a4",
                          "transaction_code": "TEENSK4W2K",
                          "amount": 10.1,
                          "currency": "EUR",
                          "timestamp": "2020-02-29T10:56:56.876Z",
                          "status": "SUCCESSFUL",
                          "payment_type": "ECOM",
                          "installments_count": 1,
                          "merchant_code": "MH4H92C7",
                          "vat_amount": 6,
                          "tip_amount": 3,
                          "entry_mode": "CUSTOMER_ENTRY",
                          "auth_code": "012345",
                          "internal_id": 0
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorExtended"
                },
                "examples": {
                  "Missing_Parameter": {
                    "description": "A required parameter is missing.",
                    "value": {
                      "message": "Validation error",
                      "error_code": "MISSING",
                      "param": "merchant_code"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorForbidden"
                },
                "examples": {
                  "Forbidden": {
                    "description": "You do not have the required permission for making this request.",
                    "value": {
                      "error_message": "checkout_payments_not_allowed",
                      "error_code": "FORBIDDEN",
                      "status_code": "403"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Existing_Checkout": {
                    "description": "A resource with the specified parameters already exists on the server.",
                    "value": {
                      "error_code": "DUPLICATED_CHECKOUT",
                      "message": "Checkout with this checkout reference and pay to email already exists"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payments"
            ]
          }
        ],
        "tags": [
          "Checkouts"
        ],
        "x-codegen": {
          "method_name": "create"
        },
        "x-scopes": [
          "payments"
        ]
      },
      "get": {
        "operationId": "ListCheckouts",
        "summary": "List checkouts",
        "description": "Lists created checkout resources according to the applied `checkout_reference`.",
        "parameters": [
          {
            "name": "checkout_reference",
            "in": "query",
            "description": "Filters the list of checkout resources by the unique ID of the checkout.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CheckoutSuccess"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payments"
            ]
          }
        ],
        "tags": [
          "Checkouts"
        ],
        "x-codegen": {
          "method_name": "list"
        },
        "x-scopes": [
          "payments"
        ]
      }
    },
    "/v0.1/checkouts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Unique ID of the checkout resource.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "GetCheckout",
        "summary": "Retrieve a checkout",
        "description": "Retrieves an identified checkout resource. Use this request after processing a checkout to confirm its status and inform the end user respectively.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payments"
            ]
          }
        ],
        "tags": [
          "Checkouts"
        ],
        "x-codegen": {
          "method_name": "get"
        },
        "x-scopes": [
          "payments"
        ]
      },
      "put": {
        "operationId": "ProcessCheckout",
        "summary": "Process a checkout",
        "description": "Processing a checkout will attempt to charge the provided payment instrument for the amount of the specified checkout resource initiated in the `Create a checkout` endpoint.\n\nFollow this request with `Retrieve a checkout` to confirm its status.\n",
        "requestBody": {
          "description": "Details of the payment instrument for processing the checkout.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessCheckout"
              },
              "examples": {
                "ProcessCard": {
                  "description": "Process a checkout with a card",
                  "value": {
                    "payment_type": "card",
                    "installments": 1,
                    "mandate": {
                      "type": "recurrent",
                      "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.104 Safari/537.36",
                      "user_ip": "172.217.169.174"
                    },
                    "card": {
                      "type": "VISA",
                      "name": "John Doe",
                      "number": "1234567890123456",
                      "expiry_year": "2023",
                      "expiry_month": "01",
                      "cvv": "123",
                      "zip_code": "12345",
                      "last_4_digits": "3456"
                    }
                  }
                },
                "ProcessToken": {
                  "description": "Process a checkout with a token",
                  "value": {
                    "payment_type": "card",
                    "installments": 1,
                    "token": "ba85dfee-c3cf-48a6-84f5-d7d761fbba50",
                    "customer_id": "MEDKHDTI"
                  }
                },
                "ProcessBoleto": {
                  "description": "Process a checkout with Boleto",
                  "value": {
                    "payment_type": "boleto",
                    "personal_details": {
                      "email": "user@example.com",
                      "first_name": "John",
                      "last_name": "Doe",
                      "tax_id": "423.378.593-47",
                      "address": {
                        "country": "BR",
                        "city": "São Paulo",
                        "line1": "Rua Gilberto Sabino, 215",
                        "state": "SP",
                        "postal_code": "05425-020"
                      }
                    }
                  }
                },
                "ProcessiDeal": {
                  "description": "Process a checkout with iDeal",
                  "value": {
                    "payment_type": "ideal",
                    "personal_details": {
                      "email": "user@example.com",
                      "first_name": "John",
                      "last_name": "Doe",
                      "address": {
                        "country": "NL"
                      }
                    }
                  }
                },
                "ProcessBancontact": {
                  "description": "Process a checkout with Bancontact",
                  "value": {
                    "payment_type": "bancontact",
                    "personal_details": {
                      "email": "user@example.com",
                      "first_name": "John",
                      "last_name": "Doe",
                      "address": {
                        "country": "BE"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSuccess"
                },
                "examples": {
                  "CheckoutSuccessCard": {
                    "description": "Successfully processed checkout with a card",
                    "value": {
                      "checkout_reference": "f00a8f74-b05d-4605-bd73-2a901bae5802",
                      "amount": 10.1,
                      "currency": "EUR",
                      "merchant_code": "MH4H92C7",
                      "description": "Purchase",
                      "return_url": "http://example.com",
                      "id": "4e425463-3e1b-431d-83fa-1e51c2925e99",
                      "status": "PENDING",
                      "date": "2020-02-29T10:56:56+00:00",
                      "valid_until": "2020-02-29T10:56:56+00:00",
                      "customer_id": "831ff8d4cd5958ab5670",
                      "mandate": {
                        "type": "recurrent",
                        "status": "active",
                        "merchant_code": "MH4H92C7"
                      },
                      "transactions": [
                        {
                          "id": "410fc44a-5956-44e1-b5cc-19c6f8d727a4",
                          "transaction_code": "TEENSK4W2K",
                          "amount": 10.1,
                          "currency": "EUR",
                          "timestamp": "2020-02-29T10:56:56.876Z",
                          "status": "SUCCESSFUL",
                          "payment_type": "ECOM",
                          "installments_count": 1,
                          "merchant_code": "MH4H92C7",
                          "vat_amount": 6,
                          "tip_amount": 3,
                          "entry_mode": "CUSTOMER_ENTRY",
                          "auth_code": "053201",
                          "internal_id": 1763892018
                        }
                      ],
                      "transaction_code": "TEENSK4W2K",
                      "transaction_id": "410fc44a-5956-44e1-b5cc-19c6f8d727a4"
                    }
                  },
                  "CheckoutSuccessToken": {
                    "description": "Successfully processed checkout with a token",
                    "value": {
                      "checkout_reference": "f00a8f74-b05d-4605-bd73-2a901bae5802",
                      "amount": 10.1,
                      "currency": "EUR",
                      "merchant_code": "MH4H92C7",
                      "description": "Purchase with token",
                      "id": "4e425463-3e1b-431d-83fa-1e51c2925e99",
                      "status": "PENDING",
                      "date": "2020-02-29T10:56:56+00:00",
                      "transaction_code": "TEENSK4W2K",
                      "transaction_id": "410fc44a-5956-44e1-b5cc-19c6f8d727a4",
                      "merchant_name": "Sample Merchant",
                      "redirect_url": "https://mysite.com/completed_purchase",
                      "customer_id": "831ff8d4cd5958ab5670",
                      "payment_instrument": {
                        "token": "e76d7e5c-9375-4fac-a7e7-b19dc5302fbc"
                      },
                      "transactions": [
                        {
                          "id": "410fc44a-5956-44e1-b5cc-19c6f8d727a4",
                          "transaction_code": "TEENSK4W2K",
                          "amount": 10.1,
                          "currency": "EUR",
                          "timestamp": "2020-02-29T10:56:56.876Z",
                          "status": "SUCCESSFUL",
                          "payment_type": "ECOM",
                          "installments_count": 1,
                          "merchant_code": "MH4H92C7",
                          "vat_amount": 6,
                          "tip_amount": 3,
                          "entry_mode": "CUSTOMER_ENTRY",
                          "auth_code": "053201",
                          "internal_id": 1763892018
                        }
                      ]
                    }
                  },
                  "CheckoutSuccessBoleto": {
                    "description": "Successfully processed checkout with Boleto",
                    "value": {
                      "checkout_reference": "f00a8f74-b05d-4605-bd73-2a901bae5802",
                      "amount": 10.1,
                      "currency": "BRL",
                      "merchant_code": "MH4H92C7",
                      "description": "Boleto checkout",
                      "id": "4e425463-3e1b-431d-83fa-1e51c2925e99",
                      "status": "PENDING",
                      "date": "2021-07-06T12:34:02.000+00:00",
                      "merchant_name": "Sample shop",
                      "boleto": {
                        "barcode": "34191090081790614310603072340007886840000000200",
                        "url": "https://checkouts.sample.com/v0.1/checkouts/2e7a36cc-7897-446b-a966-952ab5f049ea/boleto"
                      },
                      "redirect_url": "https://website.com",
                      "purpose": "CHECKOUT",
                      "transactions": [
                        {
                          "id": "debd2986-9852-4e86-8a8e-7ea9c87dd679",
                          "transaction_code": "TEN3E696NP",
                          "merchant_code": "MH4H92C9",
                          "amount": 10.1,
                          "vat_amount": 6,
                          "tip_amount": 3,
                          "currency": "BRL",
                          "timestamp": "2021-07-06T12:34:16.460+00:00",
                          "status": "PENDING",
                          "payment_type": "BOLETO",
                          "entry_mode": "BOLETO",
                          "installments_count": 1,
                          "internal_id": 1763892018
                        }
                      ]
                    }
                  },
                  "CheckoutSuccessiDeal": {
                    "description": "Successfully processed checkout with iDeal",
                    "value": {
                      "next_step": {
                        "url": "https://r3.girogate.de/ti/simideal",
                        "method": "GET",
                        "payload": {
                          "tx": "961473700",
                          "rs": "ILnaUeQTKJ184fVrjGILrLjePX9E4rmz",
                          "cs": "c8bc0ea231f8372431ca22d6f8319f8de0263d0b1705759ed27155f245f193c5"
                        },
                        "full": "https://r3.girogate.de/ti/simideal?tx=961473700&rs=ILnaUeQTKJ184fVrjGILrLjePX9E4rmz&cs=c8bc0ea231f8372431ca22d6f8319f8de0263d0b1705759ed27155f245f193c5",
                        "mechanism": [
                          "browser"
                        ]
                      }
                    }
                  },
                  "CheckoutSuccessBancontact": {
                    "description": "Successfully processed checkout with Bancontact",
                    "value": {
                      "next_step": {
                        "url": "https://r3.girogate.de/ti/simbcmc",
                        "method": "GET",
                        "payload": {
                          "tx": "624788471",
                          "rs": "5MioXoKt2Gwj9dLgqAX1bMRBuT5xTSdB",
                          "cs": "697edacdd9175f3f99542500fa0ff08280b66aaff3c2641a2e212e4b039473cc"
                        },
                        "full": "https://r3.girogate.de/ti/simbcmc?tx=624788471&rs=5MioXoKt2Gwj9dLgqAX1bMRBuT5xTSdB&cs=697edacdd9175f3f99542500fa0ff08280b66aaff3c2641a2e212e4b039473cc",
                        "mechanism": [
                          "browser"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorExtended"
                    },
                    {
                      "type": "array",
                      "description": "List of error messages.",
                      "items": {
                        "$ref": "#/components/schemas/ErrorExtended"
                      }
                    }
                  ]
                },
                "examples": {
                  "Invalid_Parameter": {
                    "description": "A required parameter has an invalid value.",
                    "value": {
                      "message": "Validation error",
                      "error_code": "INVALID",
                      "param": "card.expiry_year"
                    }
                  },
                  "Multiple_Invalid_Parameters": {
                    "description": "Multiple required parameters have invalid values.",
                    "value": [
                      {
                        "error_code": "INVALID",
                        "message": "Validation error",
                        "param": "card.name"
                      },
                      {
                        "error_code": "INVALID",
                        "message": "Validation error",
                        "param": "card.number"
                      },
                      {
                        "error_code": "INVALID",
                        "message": "Validation error",
                        "param": "card.expiry_year"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Checkout_Processed": {
                    "description": "The identified checkout resource is already processed.",
                    "value": {
                      "error_code": "CHECKOUT_PROCESSED",
                      "message": "Checkout is already processed"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": []
          }
        ],
        "tags": [
          "Checkouts"
        ],
        "x-codegen": {
          "method_name": "process"
        },
        "x-scopes": []
      },
      "delete": {
        "operationId": "DeactivateCheckout",
        "summary": "Deactivate a checkout",
        "description": "Deactivates an identified checkout resource. If the checkout has already been processed it can not be deactivated.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                },
                "example": {
                  "checkout_reference": "f00a8f74-b05d-4605-bd73-2a901bae5802",
                  "id": "817340ce-f1d9-4609-b90a-6152f8ee267j",
                  "amount": 2,
                  "currency": "EUR",
                  "merchant_code": "MH4H92C7",
                  "description": "Deletion example",
                  "purpose": "CHECKOUT",
                  "status": "EXPIRED",
                  "date": "2020-02-29T10:56:56+00:00",
                  "valid_until": "2020-02-29T10:56:56+00:00",
                  "merchant_name": "Sample Merchant",
                  "transactions": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Checkout_Processed": {
                    "description": "The identified checkout resource is already processed.",
                    "value": {
                      "error_code": "CHECKOUT_PROCESSED",
                      "message": "Checkout is already processed"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payments"
            ]
          }
        ],
        "tags": [
          "Checkouts"
        ],
        "x-codegen": {
          "method_name": "deactivate"
        },
        "x-scopes": [
          "payments"
        ]
      }
    },
    "/v0.1/customers": {
      "post": {
        "operationId": "CreateCustomer",
        "summary": "Create a customer",
        "description": "Creates a new saved customer resource which you can later manipulate and save payment instruments to.",
        "requestBody": {
          "description": "Details of the customer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorForbidden"
                },
                "examples": {
                  "Forbidden": {
                    "description": "You do not have required scopes for making this request.",
                    "value": {
                      "error_message": "request_not_allowed",
                      "error_code": "FORBIDDEN",
                      "status_code": "403"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Existing_Customer": {
                    "description": "A resource with the specified identifier already exists on the server.",
                    "value": {
                      "message": "Customer already exists",
                      "error_code": "CUSTOMER_ALREADY_EXISTS"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payment_instruments"
            ]
          }
        ],
        "tags": [
          "Customers"
        ],
        "x-codegen": {
          "method_name": "create"
        },
        "x-scopes": [
          "payment_instruments"
        ]
      }
    },
    "/v0.1/customers/{customer_id}": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "description": "Unique ID of the saved customer resource.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "GetCustomer",
        "summary": "Retrieve a customer",
        "description": "Retrieves an identified saved customer resource through the unique `customer_id` parameter, generated upon customer creation.",
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorForbidden"
                },
                "examples": {
                  "Forbidden": {
                    "description": "You do not have required scopes for making this request.",
                    "value": {
                      "error_message": "request_not_allowed",
                      "error_code": "FORBIDDEN",
                      "status_code": "403"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payment_instruments"
            ]
          }
        ],
        "tags": [
          "Customers"
        ],
        "x-codegen": {
          "method_name": "get"
        },
        "x-scopes": [
          "payment_instruments"
        ]
      },
      "put": {
        "operationId": "UpdateCustomer",
        "summary": "Update a customer",
        "description": "Updates an identified saved customer resource's personal details.\n\nThe request only overwrites the parameters included in the request, all other parameters will remain with their initially assigned values.\n",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "personal_details": {
                    "$ref": "#/components/schemas/PersonalDetails"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorForbidden"
                },
                "examples": {
                  "Forbidden": {
                    "description": "You do not have required scopes for making this request.",
                    "value": {
                      "error_message": "request_not_allowed",
                      "error_code": "FORBIDDEN",
                      "status_code": "403"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payment_instruments"
            ]
          }
        ],
        "tags": [
          "Customers"
        ],
        "x-codegen": {
          "method_name": "update"
        },
        "x-scopes": [
          "payment_instruments"
        ]
      }
    },
    "/v0.1/customers/{customer_id}/payment-instruments": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "description": "Unique ID of the saved customer resource.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "ListPaymentInstruments",
        "summary": "List payment instruments",
        "description": "Lists all payment instrument resources that are saved for an identified customer.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentInstrumentResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorForbidden"
                },
                "examples": {
                  "Forbidden": {
                    "description": "You do not have required scopes for making this request.",
                    "value": {
                      "error_message": "request_not_allowed",
                      "error_code": "FORBIDDEN",
                      "status_code": "403"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payment_instruments"
            ]
          }
        ],
        "tags": [
          "Customers"
        ],
        "x-codegen": {
          "method_name": "list_payment_instruments"
        },
        "x-scopes": [
          "payment_instruments"
        ]
      }
    },
    "/v0.1/customers/{customer_id}/payment-instruments/{token}": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "description": "Unique ID of the saved customer resource.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "token",
          "in": "path",
          "description": "Unique token identifying the card saved as a payment instrument resource.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "operationId": "DeactivatePaymentInstrument",
        "summary": "Deactivate a payment instrument",
        "description": "Deactivates an identified card payment instrument resource for a customer.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorForbidden"
                },
                "examples": {
                  "Forbidden": {
                    "description": "You do not have required scopes for making this request.",
                    "value": {
                      "error_message": "request_not_allowed",
                      "error_code": "FORBIDDEN",
                      "status_code": "403"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payment_instruments"
            ]
          }
        ],
        "tags": [
          "Customers"
        ],
        "x-codegen": {
          "method_name": "deactivate_payment_instrument"
        },
        "x-scopes": [
          "payment_instruments"
        ]
      }
    },
    "/v0.1/me/refund/{txn_id}": {
      "parameters": [
        {
          "name": "txn_id",
          "in": "path",
          "description": "Unique ID of the transaction.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "operationId": "RefundTransaction",
        "summary": "Refund a transaction",
        "description": "Refunds an identified transaction either in full or partially.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "description": "Optional amount for partial refunds of transactions.",
                "type": "object",
                "properties": {
                  "amount": {
                    "description": "Amount to be refunded. Eligible amount can't exceed the amount of the transaction and varies based on country and currency. If you do not specify a value, the system performs a full refund of the transaction.",
                    "type": "number",
                    "format": "float"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Transaction_Not_Refundable": {
                    "description": "The state of the identified transaction resource does not permit the requested operation.",
                    "value": {
                      "error_code": "CONFLICT",
                      "message": "The transaction is not refundable in its current state"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "payments"
            ]
          }
        ],
        "tags": [
          "Transactions"
        ],
        "x-codegen": {
          "method_name": "refund"
        },
        "x-scopes": [
          "payments"
        ]
      }
    },
    "/v2.1/merchants/{merchant_code}/transactions": {
      "get": {
        "operationId": "GetTransactionV2.1",
        "summary": "Retrieve a transaction",
        "description": "Retrieves the full details of an identified transaction. The transaction resource is identified by a query parameter and *one* of following parameters is required:\n\n *  `id`\n *  `internal_id`\n *  `transaction_code`\n *  `foreign_transaction_id`\n *  `client_transaction_id`\n",
        "parameters": [
          {
            "name": "merchant_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "MH4H92C7"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Retrieves the transaction resource with the specified transaction ID (the `id` parameter in the transaction resource).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "internal_id",
            "in": "query",
            "description": "Retrieves the transaction resource with the specified internal transaction ID (the `internal_id` parameter in the transaction resource).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_code",
            "in": "query",
            "description": "Retrieves the transaction resource with the specified transaction code.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "foreign_transaction_id",
            "in": "query",
            "description": "External/foreign transaction id (passed by clients).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_transaction_id",
            "in": "query",
            "description": "Client transaction id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionFull"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "transactions.history"
            ]
          }
        ],
        "tags": [
          "Transactions"
        ],
        "x-codegen": {
          "method_name": "get"
        },
        "x-scopes": [
          "transactions.history"
        ]
      }
    },
    "/v0.1/me/transactions": {
      "get": {
        "operationId": "GetTransaction",
        "summary": "Retrieve a transaction",
        "description": "Retrieves the full details of an identified transaction. The transaction resource is identified by a query parameter and *one* of following parameters is required:\n\n *  `id`\n *  `internal_id`\n *  `transaction_code`\n *  `foreign_transaction_id`\n *  `client_transaction_id`\n",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Retrieves the transaction resource with the specified transaction ID (the `id` parameter in the transaction resource).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "internal_id",
            "in": "query",
            "description": "Retrieves the transaction resource with the specified internal transaction ID (the `internal_id` parameter in the transaction resource).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_code",
            "in": "query",
            "description": "Retrieves the transaction resource with the specified transaction code.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionFull"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Not_Found": {
                    "description": "The identified resource is not found on the server.",
                    "value": {
                      "error_code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "transactions.history"
            ]
          }
        ],
        "tags": [
          "Transactions"
        ],
        "x-codegen": {
          "method_name": "get_deprecated"
        },
        "x-scopes": [
          "transactions.history"
        ]
      }
    },
    "/v2.1/merchants/{merchant_code}/transactions/history": {
      "get": {
        "operationId": "ListTransactionsV2.1",
        "summary": "List transactions",
        "description": "Lists detailed history of all transactions associated with the merchant profile.",
        "parameters": [
          {
            "name": "merchant_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "MH4H92C7"
            }
          },
          {
            "name": "transaction_code",
            "in": "query",
            "description": "Retrieves the transaction resource with the specified transaction code.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the order in which the returned results are displayed.",
            "schema": {
              "type": "string",
              "default": "ascending",
              "enum": [
                "ascending",
                "descending"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of results per page. Value must be a positive integer and if not specified, will return 10 results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "users",
            "in": "query",
            "description": "Filters the returned results by user email.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "email"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Filters the returned results by the specified list of final statuses of the transactions.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SUCCESSFUL",
                  "CANCELLED",
                  "FAILED",
                  "REFUNDED",
                  "CHARGE_BACK"
                ]
              }
            }
          },
          {
            "name": "payment_types",
            "in": "query",
            "description": "Filters the returned results by the specified list of payment types used for the transactions.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CASH",
                  "POS",
                  "ECOM",
                  "BALANCE",
                  "MOTO",
                  "BOLETO",
                  "UNKNOWN"
                ]
              }
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Filters the returned results by the specified list of transaction types.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PAYMENT",
                  "REFUND",
                  "CHARGE_BACK"
                ]
              }
            }
          },
          {
            "name": "changes_since",
            "in": "query",
            "description": "Filters the results by the latest modification time of resources and returns only transactions that are modified *at or after* the specified timestamp (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "newest_time",
            "in": "query",
            "description": "Filters the results by the creation time of resources and returns only transactions that are created *before* the specified timestamp (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "newest_ref",
            "in": "query",
            "description": "Filters the results by the reference ID of transaction events and returns only transactions with events whose IDs are *smaller* than the specified value. This parameters supersedes the `newest_time` parameter (if both are provided in the request).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest_time",
            "in": "query",
            "description": "Filters the results by the creation time of resources and returns only transactions that are created *at or after* the specified timestamp (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "oldest_ref",
            "in": "query",
            "description": "Filters the results by the reference ID of transaction events and returns only transactions with events whose IDs are *greater* than the specified value. This parameters supersedes the `oldest_time` parameter (if both are provided in the request).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransactionHistory"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "transactions.history"
            ]
          }
        ],
        "tags": [
          "Transactions"
        ],
        "x-codegen": {
          "method_name": "list"
        },
        "x-scopes": [
          "transactions.history"
        ]
      }
    },
    "/v0.1/me/transactions/history": {
      "get": {
        "operationId": "ListTransactions",
        "summary": "List transactions",
        "description": "Lists detailed history of all transactions associated with the merchant profile.",
        "parameters": [
          {
            "name": "transaction_code",
            "in": "query",
            "description": "Retrieves the transaction resource with the specified transaction code.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies the order in which the returned results are displayed.",
            "schema": {
              "type": "string",
              "default": "ascending",
              "enum": [
                "ascending",
                "descending"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specifies the maximum number of results per page. Value must be a positive integer and if not specified, will return 10 results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "users",
            "in": "query",
            "description": "Filters the returned results by user email.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "email"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Filters the returned results by the specified list of final statuses of the transactions.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SUCCESSFUL",
                  "CANCELLED",
                  "FAILED",
                  "REFUNDED",
                  "CHARGE_BACK"
                ]
              }
            }
          },
          {
            "name": "payment_types",
            "in": "query",
            "description": "Filters the returned results by the specified list of payment types used for the transactions.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CASH",
                  "POS",
                  "ECOM",
                  "BALANCE",
                  "MOTO",
                  "BOLETO",
                  "UNKNOWN"
                ]
              }
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Filters the returned results by the specified list of transaction types.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PAYMENT",
                  "REFUND",
                  "CHARGE_BACK"
                ]
              }
            }
          },
          {
            "name": "changes_since",
            "in": "query",
            "description": "Filters the results by the latest modification time of resources and returns only transactions that are modified *at or after* the specified timestamp (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "newest_time",
            "in": "query",
            "description": "Filters the results by the creation time of resources and returns only transactions that are created *before* the specified timestamp (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "newest_ref",
            "in": "query",
            "description": "Filters the results by the reference ID of transaction events and returns only transactions with events whose IDs are *smaller* than the specified value. This parameters supersedes the `newest_time` parameter (if both are provided in the request).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldest_time",
            "in": "query",
            "description": "Filters the results by the creation time of resources and returns only transactions that are created *at or after* the specified timestamp (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "oldest_ref",
            "in": "query",
            "description": "Filters the results by the reference ID of transaction events and returns only transactions with events whose IDs are *greater* than the specified value. This parameters supersedes the `oldest_time` parameter (if both are provided in the request).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransactionHistory"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "transactions.history"
            ]
          }
        ],
        "tags": [
          "Transactions"
        ],
        "x-codegen": {
          "method_name": "list_deprecated"
        },
        "x-scopes": [
          "transactions.history"
        ]
      }
    },
    "/v0.1/me": {
      "get": {
        "operationId": "GetAccount",
        "summary": "Retrieve a profile",
        "description": "Returns user profile information.",
        "parameters": [
          {
            "name": "include[]",
            "in": "query",
            "description": "A list of additional information you want to receive for the user. By default only personal and merchant profile information will be returned.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "settings",
                  "doing_business_as",
                  "bank_accounts",
                  "app_settings",
                  "country_details"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "user.profile",
              "user.profile_readonly"
            ]
          }
        ],
        "tags": [
          "Merchant"
        ],
        "x-codegen": {
          "method_name": "get"
        },
        "x-deprecation-notice": "The _Retrieve a profile_ endpoint is deprecated, please use the `Merchant` object instead (see [Merchants](https://developer.sumup.com/api/merchants)).",
        "x-scopes": [
          "user.profile",
          "user.profile_readonly"
        ]
      }
    },
    "/v1.0/merchants/{merchant_code}/payouts": {
      "get": {
        "operationId": "ListPayoutsV1",
        "summary": "List payouts",
        "description": "Lists ordered payouts for the merchant profile.",
        "parameters": [
          {
            "name": "merchant_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "MH4H92C7"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialPayouts"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Invalid_Token": {
                    "description": "The access token is invalid or has expired.",
                    "value": {
                      "error_message": "invalid access token",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Not_Authorized_Token": {
                    "description": "The access token is valid but the application is not authorized.",
                    "value": {
                      "error_message": "NOT_AUTHORIZED",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  },
                  "Missing_Token": {
                    "description": "No access token is provided.",
                    "value": {
                      "message": "access token required",
                      "error_code": "NOT_AUTHORIZED"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "user.profile",
              "user.profile_readonly"
            ]
          }
        ],
        "tags": [
          "Payouts"
        ],
        "x-codegen": {
          "method_name": "list"
        },
        "x-scopes": [
          "user.profile",
          "user.profile_readonly"
        ]
      }
    },
    "/v0.1/me/financials/payouts": {
      "get": {
        "operationId": "ListPayouts",
        "summary": "List payouts",
        "description": "Lists ordered payouts for the merchant profile.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date (in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
[...]
