name: Codegen CI

on:
  push:
    branches:
      - master
    paths:
      - "codegen/**"
      - ".github/workflows/codegen.yaml"
  pull_request:
    branches:
      - master
    paths:
      - "codegen/**"
      - ".github/workflows/codegen.yaml"

permissions:
  contents: read

defaults:
  run:
    working-directory: ./codegen

env:
  GOLANGCI_LINT_VERSION: v2.1.5

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: './codegen/go.mod'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          working-directory: ./codegen

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: './codegen/go.mod'

      - name: Run tests
        run: go test ./...
